# Auto detect text files and perform LF normalization
* text=auto eol=lf
Makefile text eol=lf
*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.asm text eol=lf
*.md text eol=lf
*.c text eol=lf
*.ini text=auto
*.txt text=auto
*.bat text eol=crlf
*.cmd text eol=crlf
*.class binary
*.dat binary
*.jar binary
*.iso binary
*.exe binary